@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

body, html {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

body, html {
    font-family: 'Poppins', sans-serif;
    color: #222
}

.navbar {
    padding: .8rem
}

.navbar-nav li {
    padding-right: 20px
}

.nav-link {
    font-size: 1.1em!important
}
 
.fixed-bg {
    background-image: url("img/mac.png");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*
.col- (extra small devices - screen width less than 576px)
.col-sm- (small devices - screen width equal to or greater than 576px)
.col-md- (medium devices - screen width equal to or greater than 768px)
.col-lg- (large devices - screen width equal to or greater than 992px)
.col-xl- (xlarge devices - screen width equal to or greater than 1200px)
*/